@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 52px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  background: white; */

  @apply flex justify-between items-center fixed top-0 w-full h-[52px] shadow-sm bg-white;
}
.navbar__button {
  /* display: none;
  cursor: pointer; */
  @apply hidden cursor-pointer;
}
.navbar__logo {
  /* color: darkblue;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  padding: 0px 18px; */
  @apply text-blue-800 text-lg font-semibold cursor-pointer px-[18px] py-0;
}
.navbar__list {
  /* padding: 0px 18px;
  display: flex;
  gap: 12px;
  align-items: center; */
  @apply px-[18px] flex gap-3 items-center;
}
.navbar__list--item {
  cursor: pointer;
}
.navbar__list--item:hover {
  /* color: darkgray; */
  @apply text-gray-600;
}
.layout {
  /* padding-top: 52px; */
  @apply pt-[52px];
}

@media only screen and (max-width: 600px) {
  .navbar--mobile {
    /* position: fixed;
    width: 100%;
    top: 52px;
    background: darkslateblue;
    color: white;
    height: 100dvh; */
    @apply fixed w-full top-[52px] bg-blue-800 text-white h-screen;
  }
  .navbar__list {
    /* display: none; */
    @apply hidden;
  }
  .navbar__button {
    /* display: block;
    padding: 0px 18px; */
    @apply block px-[18px] py-0;
  }
  .navbar__list--item--mobile {
    /* cursor: pointer; */
    @apply cursor-pointer;
  }
  .navbar__list--item--mobile:hover {
    /* color: darkgray; */
    @apply text-gray-600;
  }
  .navbar__list--mobile {
    /* display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    padding: 24px 18px; */
    @apply flex flex-col gap-[16px] items-start px-[18px] py-[24px];
  }
}
